

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */

.clear {
    zoom: 1;
}

.clear {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* 渐变 */
.gradient{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
    background: -moz-linear-gradient(top, #ffffff, #f8f8f8);
    background: -ms-linear-gradient(top, #ffffff, #f8f8f8);
    background: linear-gradient(top, #ffffff, #f8f8f8);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
}

/* 圆角 */
.corner {
    width: 400px;
    height: 400px;
    border: 1px solid #333333;
    border-radius: 80px;
}

body {margin-bottom: 30px;}

/* layout */
#header { width: 960px; height: 30px; margin: 0 auto; border-radius: 0 0 6px 6px;}
#nav {width: 960px; height: 100px; margin: 0 auto; background: #ffc;}
#search {width: 958px; height: 114px; margin: 0 auto;  border: 1px solid #dbdbdb; border-radius: 6px;}

.content {width: 960px; height: 100px; margin: 0 auto;}
.main {width: 710px; height: 100px;}
.section {width: 318px; height: 100px; margin-bottom: 10px; margin-top: 10px; padding: 0 15px; border: 1px solid #dbdbdb; border-radius: 6px;}
.options {width: 350px; height: 100px; margin-bottom: 10px; margin-top: 10px; background: #ff9;}
.main_ad {width: 710px; height: 100px; border-radius: 6px; overflow: hidden; }
.side {width: 240px; }
.side_ad {border-radius: 6px; overflow: hidden; margin-bottom: 10px;border: 1px solid #dbdbdb;}
.side_setion {height: 60px; overflow: hidden; margin-bottom: 10px; border-radius: 6px;border: 1px solid #dbdbdb; }

#header .city {float: left; padding: 5px 0; line-height: 30px;}
#header .city a {display: inline-block; padding: 0 7px; height: 18px; line-height: 18px; color: #999; background: #fff; border: 1px solid #e5e5e5; border-radius: 4px;box-shadow: 1px 1px 0 #ededed;}
#header .city .active {color: #d60d03;}
#header .city a:hover {background: #f1f1f1;}
#header .link {float: right; line-height: 30px;}
#header .link a {}
#header .link a:hover {}

#footer {width: :958px; height: 78px; margin: 0 auto; border: 1px solid #dbdbdb; background: #f9f9f9; border-radius: 6px;}

